.GenreImage {
    margin-bottom: 5px;
}

.GenreImage:last-child {
    margin-bottom: 0;
}

.GenreImage > img {
    object-fit: cover;
    border-radius: 50%;
    margin-right: 5px;
    height: 35px;
    width: 35px;
}

.selectedGenreText {
    font-weight: 700;
}